.section {
  height: 90vh;
}

.div-block {
  height: 80px;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8faff), to(#f8faff));
  background-image: linear-gradient(180deg, #f8faff, #f8faff);
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8faff), to(#f8faff));
  background-image: linear-gradient(180deg, #f8faff, #f8faff);
}

.heading {
  height: auto;
  font-family: Manrope, sans-serif;
  letter-spacing: 0px;
  text-indent: 0px;
  text-transform: none;
  -webkit-column-count: 0;
  column-count: 0;
  white-space: normal;
}

.paragraph {
  position: static;
  margin-top: 30px;
  margin-bottom: auto;
  direction: ltr;
  font-family: Manrope, sans-serif;
  color: #585858;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0px;
  text-indent: 0px;
  -webkit-column-count: auto;
  column-count: auto;
  white-space: normal;
}

.div-block-2 {
  width: 500px;
  height: 500px;
  background-image: url('../images/undraw_at_the_park_2e47.svg');
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-attachment: scroll;
}

.div-block-3 {
  margin-right: 70px;
  margin-left: 70px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-3 {
  height: 10vh;
  background-color: #f8faff;
}

.navbar {
  margin-top: 0px;
  background-color: transparent;
}

.nav-link {
  font-family: Manrope, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.nav-link-2 {
  font-family: Manrope, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.container {
  margin-top: 5px;
  margin-bottom: auto;
}

.div-block-4 {
  width: 80%;
  margin-top: 70px;
  margin-bottom: 70px;
}

.heading-2 {
  font-family: Manrope, sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-3 {
  font-family: Manrope, sans-serif;
  font-size: 20px;
  text-align: center;
}

.column-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns-2 {
  margin-top: 50px;
}

.paragraph-2 {
  margin-right: 20px;
  margin-left: 20px;
  font-family: Manrope, sans-serif;
  color: #585858;
  font-size: 12px;
  line-height: 23px;
  text-align: center;
}

.paragraph-3 {
  font-family: Manrope, sans-serif;
}

.paragraph-4 {
  font-family: Manrope, sans-serif;
}

.section-4 {
  height: auto;
}

.section-5 {
  display: block;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f8faff;
}

.button {
  width: 150px;
  height: 50px;
  margin-top: 40px;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px none #000;
  border-radius: 7px;
  box-shadow: 0 2px 7px 0 #2e94ec;
  font-family: Manrope, sans-serif;
  font-weight: 600;
  text-align: center;
}

.column-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.columns-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.div-block-5 {
  width: 470px;
  height: 410px;
  background-image: url('../images/undraw_ideas_s70l.svg');
  background-position: 0px 0px;
  background-size: cover;
}

.heading-4 {
  margin-top: 40px;
  font-family: Manrope, sans-serif;
  font-size: 30px;
  text-align: left;
}

.div-block-6 {
  margin: 70px 120px;
}

.paragraph-5 {
  font-family: Manrope, sans-serif;
  color: #585858;
  font-size: 14px;
  line-height: 30px;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.section-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-5 {
  font-family: Manrope, sans-serif;
  font-size: 30px;
  text-align: center;
}

.div-block-8 {
  width: 80%;
}

.div-block-9 {
  width: auto;
  height: 350px;
  border-radius: 8px;
  background-image: url('../images/ben-neale-zpxKdH_xNSI-unsplash.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block-9._2 {
  background-image: url('../images/carlos-muza-hpjSkU2UYSU-unsplash.jpg');
}

.div-block-10 {
  height: 350px;
  border-radius: 8px;
  background-image: url('../images/anas-alshanti-feXpdV001o4-unsplash.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block-10._2 {
  background-image: url('../images/campaign-creators---kQ4tBklJI-unsplash.jpg');
}

.div-block-11 {
  height: 350px;
  border-radius: 8px;
  background-image: url('../images/austin-distel-wawEfYdpkag-unsplash-min.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block-11._2 {
  background-image: url('../images/jukan-tateisi-bJhT_8nbUA0-unsplash.jpg');
}

.columns-4 {
  margin-top: 50px;
}

.columns-4._2 {
  margin-top: 20px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.section-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-6 {
  font-family: Inconsolata, monospace;
  font-size: 50px;
  text-align: center;
}

.section-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-7 {
  font-family: Inconsolata, monospace;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.section-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f8faff;
}

.heading-8 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: Manrope, sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.container-2 {
  height: auto;
}

.div-block-12 {
  width: 80%;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/manrope-bold.otf') format('opentype'), url('../fonts/manrope-extrabold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/manrope-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/manrope-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/manrope-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/manrope-semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/manrope-thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}